
.fabubig{
    width: 1024px;
    height: 970px;
    margin: 0 auto;
    background-color: rgba(199,228,255,0.5);
}
.fanhui{
    width: 150px;
    height: 50px;
}
.fabukuang{
    width: 800px;
    height: 700px;
    margin: 20px auto;
    border: 3px solid #468fb9;
    border-radius: 30px;
}
.xzlx{
    width: 600px;
    height: 50px;
    margin: 20px;
    margin-left: 100px;
    background-color: #468fb9;
    font-size: 20px;
    color: white;
    border: 3px solid #468fb9;
    border-radius: 30px;
    text-align: center;
}
.tpxz{
    width: 600px;
    height: 100px;
    margin: 30px auto;
    border: 3px solid grey;
    border-radius: 30px;
}
.btn{
    position: relative;
    display: inline-block;
    width: 150px;
    height: 80px;
    top: 10px;
    left: 11cm;
    overflow: hidden;
    text-align: center;
    font-size: 14px;
    line-height: 25px;
    vertical-align: center;
    border: 3px solid dodgerblue;
    background-color: #23c6c8;
    color: #fff;
    border-radius: 20px;
}
.btn:hover{
    border: 1px solid #23babc;
    background-color: #23babc;
}
.btn input{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
.fabuwenzi{
    width: 600px;
    height: 200px;
    margin: 10px auto;
}
.wzk{
    width: 600px;
    height: 130px;
    margin: 10px auto;
    border: 3px solid grey;
    border-radius: 30px;
    background-color: rgba(105,158,235,0.5);
    font-size: 25px;
    color: white;
}
.tijiaokuang{
    margin-top: 20px;
    margin-left: 7cm;
}
.tijiao{
    width: 200px;
    height: 70px;
    position: absolute;
    background-color: dodgerblue;
    border-radius: 35px;
    border: 4px solid #ffffff;
    color: white;
    font-size: 25px;
}
.tijiao:hover{
    width: 190px;
    height: 60px;
    background-color: cadetblue;
}

